/.*                   export-ignore
/Makefile             export-ignore
/*.dist               export-ignore
/*.xml.*              export-ignore
/tests                export-ignore
/*.y*ml               export-ignore

# Test with:
# git archive --format=tar HEAD | tar t
