parameters:
    excludePaths:
        - %currentWorkingDirectory%/tests/ErrorsTest.php
        - %currentWorkingDirectory%/tests/Benchmarks/
    level: 4
    paths:
        - src
        - tests

rules:
    - Tests\Pipeline\PHPStan\Rules\NoEmptyRule
    - Tests\Pipeline\PHPStan\Rules\NoNestedLoopsRule
    - Tests\Pipeline\PHPStan\Rules\RequireGuardClausesInLoopsRule
    - Tests\Pipeline\PHPStan\Rules\NoCountZeroComparisonRule
