parameters:
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    checkMissingIterableValueType: false
    level: max
    paths:
        - src
    ignoreErrors:
        - '#should return \$this.* but returns Pipeline.Standard#'
