includes:
    - vendor/sanmai/phpstan-rules/extension.neon

parameters:
    inferPrivatePropertyTypeFromConstructor: true
    level: max
    paths:
        - src
    ignoreErrors:
        - identifier: missingType.iterableValue
        - "#Binary operation .* between .* and .* results in an error#"
        - "#Property .* does not accept .*#"
        - "#Parameter .* of function array_flip expects array#"
        - "#Type mixed in generic type .* is not subtype of template type .*#"
