parameters:
    inferPrivatePropertyTypeFromConstructor: true
    level: max
    paths:
        - src
    ignoreErrors:
        - identifier: missingType.iterableValue
        - "#Binary operation .* between .* and .* results in an error.#"
        - "#array_flip expects array.*, array given#"
        - "#(Function|Method) .* should return .* but returns .*mixed>#"
        - "#zip\\(\\) should return .* but returns .*#"
