parameters:
    reportUnmatchedIgnoredErrors: false
    excludePaths:
        - %currentWorkingDirectory%/tests/ErrorsTest.php
        - %currentWorkingDirectory%/tests/Benchmarks/
    level: 4
    paths:
        - src
        - tests
    ignoreErrors:
        -
             identifier: selfOut.type
             path: tests/StaticAnalysisTest.php
        -
             message: "#Unable to resolve the template type TMapKey#"
             path: tests/Inference/FilterTypeNarrowingSimpleTest.php
services:
    -
        class: Pipeline\PHPStan\FilterReturnTypeExtension
        tags:
            - phpstan.broker.dynamicMethodReturnTypeExtension
