sudo: false

language: php
php:
  - 7.0
  - 7.1
  - 7.2
  - nightly

matrix:
  allow_failures:
    - php: nightly

cache:
  directories:
    - $HOME/.composer
    - build/cache

install:
  - pecl install ast
  - composer install --prefer-dist

script:
  - make test

after_success:
  - travis_retry php vendor/bin/php-coveralls
  - travis_retry php vendor/bin/codacycoverage clover build/logs/clover.xml
