sudo: false

language: php
php:
  - 7.0
  - 7.1
  - 7.2
  - nightly

matrix:
  allow_failures:
    - php: nightly

cache:
  directories:
    - $HOME/.composer
    - build/cache

install:
  - pecl install ast
  - if [[ "$TRAVIS_PHP_VERSION" == "nightly" ]]; then COMPOSER_ARGS='--ignore-platform-reqs'; fi
  - composer install --prefer-dist $COMPOSER_ARGS

script:
  - make ci --keep-going COMPOSER='/bin/sh -c composer'
  - composer validate

after_success:
  - travis_retry php vendor/bin/php-coveralls
  - travis_retry php vendor/bin/codacycoverage clover build/logs/clover.xml
