{
    "timeout": 5,
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "global-ignoreSourceCodeByRegex": [
            "assert.*"
        ],
        "@default": true,
        "NotIdenticalNotEqual": false,
        "DecrementInteger": false,
        "ReturnRemoval": false,
        "LessThan": {
            "ignore": [
                "Pipeline\\Helper\\RunningVariance"
            ]
        },
        "GreaterThan": {
            "ignore": [
                "Pipeline\\Helper\\RunningVariance"
            ]
        }
    }
}
