{
    "timeout": 5,
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "global-ignoreSourceCodeByRegex": [
            "assert.*"
        ],
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false,
        "DecrementInteger": false
    }
}
