{
    "timeout": 2,
    "source": {
        "directories": [
            "src"
        ]
    },
    "mutators": {
        "@default": true,
        "IdenticalEqual": false,
        "NotIdenticalNotEqual": false
    },
    "logs": {
        "badge": {"branch": "v5.x"}
    }
}
