<?xml version="1.0"?>
<phpunit bootstrap="vendor/autoload.php"
         executionOrder="random"
         resolveDependencies="true"
         colors="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="true"
>
    <testsuites>
        <testsuite name="Main">
            <directory>tests/</directory>
            <exclude>tests/Php86/</exclude>
        </testsuite>
        <testsuite name="PHP 8.6">
            <directory phpVersion="8.6.0-dev" phpVersionOperator=">=">tests/Php86/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <groups>
        <exclude>
            <group>documentation</group>
        </exclude>
    </groups>
</phpunit>
