<?xml version="1.0"?>
<phpunit bootstrap="vendor/autoload.php"
         executionOrder="random"
         resolveDependencies="true"
         colors="true"
         cacheDirectory=".phpunit.cache"
         requireCoverageMetadata="true"
>
    <testsuites>
        <testsuite name="Main">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>

    <coverage>
        <report>
          <clover outputFile="build/logs/clover.xml"/>
          <text outputFile="php://stdout"/>
        </report>
    </coverage>
</phpunit>
