<?xml version="1.0"?>
<psalm
    errorLevel="2"
    resolveFromConfigFile="true"
    findUnusedCode="false"
    strictBinaryOperands="false"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    xsi:schemaLocation="https://getpsalm.org/schema/config vendor/vimeo/psalm/config.xsd"
>
    <projectFiles>
        <directory name="src" />
        <file name="example.php" />
        <ignoreFiles>
            <directory name="vendor" />
        </ignoreFiles>
    </projectFiles>

    <extraFiles>
        <directory name="tests" />
    </extraFiles>

    <issueHandlers>
        <ForbiddenCode>
            <errorLevel type="suppress">
                <file name="example.php" />
            </errorLevel>
        </ForbiddenCode>

        <ClassMustBeFinal errorLevel="info" />

        <MissingClosureParamType errorLevel="info" />
        <MissingClosureReturnType errorLevel="info" />
        <RedundantPropertyInitializationCheck errorLevel="suppress" />
        <PropertyNotSetInConstructor errorLevel="suppress" />
        <RedundantCondition errorLevel="info" />
        <NoValue errorLevel="info" />
        <InvalidReturnStatement errorLevel="info" />
        <InvalidReturnType errorLevel="info" />
        <InvalidArgument errorLevel="info" />
    </issueHandlers>
</psalm>
