name: Spelling

permissions:
  contents: read

on:
  pull_request:
  push:
    branches:
      - main
      - v*.*

env:
  CLICOLOR: 1

jobs:
  spelling:
    name: Spell Check with Typos
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Spell check
        uses: crate-ci/typos@v1.36.2
